@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/*#################*/
/*FGLOBAL*/
/*#################*/

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Robot'sans-serif;
    outline: none;
    border: none;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;

}
:root{
    --red: rgb(231,60,60);
    --bg: rgb(2,2,2);
    --bg2: #0a0909;
    --light: #f1f1f1;
    --link: rgb(155,40,40);
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
}

body{
    background: var(--bg);
    color: var(--light);
    position: relative;
}

section{
    padding: 10rem 7% 2rem;
    min-height: 100vh;
}

span{
    color: var(--red);
}
.btn{
    display: flex;
    color: var(--red);
    border: 1px solid var(--red);
    padding: 1rem 2.8rem;
    border-radius: 2rem;
    transition: .2s ease-in-out;
    font-size: 2rem;
}

.btn:hover{
    background: var(--red);
    color: var(--light);
    box-shadow: 0 0 1rem var(--red);
}

/*#################*/
/*Navigation et Header*/
/*#################*/

header{
    position: fixed;
    z-index: 100;
    background: var(--bg);
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header{
    border-bottom: 1rem solid rgba(0, 0, 0, 0.2);
}
.logo{
    font-size: 2.5rem;
    color: var(--light);
    font-weight: 800;
}
.logo span{
    font-weight: 400;
}
.navigation a{
    font-size: 1.7rem;
    color: var(--light);
    margin-left: 4rem;
    transition: 0.2s ease-in-out;
    position: relative;
}
.navigation a::before{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    display: block;
    width: 0;
    height: 1px;
    background: var(--red);
    transition: width 0.2s ease-in-out;
}
.navigation a:hover,.navigation a.active{
    color: var(--red);

}
.navigation a:hover::before,.navigation a.active::before{
    width: 100%;
}

#menu-burder{
    font-size: 3.6em;
    cursor: pointer;
    color: var(--light);
    display: none;
}


/*#################*/
/*Section home*/
/*#################*/

.home{
    display: flex;
    justify-content: center;
    align-items: center;
}
.home img{
    width: 35vw;
    max-width: 100%;
    animation: animlmg 4s ease-in-out infinite;
}


@keyframes animlmg{
    0%{
        transform: translateY(0%);
    }
    50%{
        transform: translateY(-2.4rem);
    }
    100%{
        transform: translateY(0%);
    }
}

.home-content h3{
    font-size: 3.2rem;
    font-weight: 700;
}

.home-content h3:nth-last-of-type(2){
    margin-bottom: 2rem;
}
.home-content h1{
    font-size: 5.6rem;
    font-weight: 700;
    line-height: 1.3;
    padding: 16px;
    animation: slide linear;
    animation-timeline: view();
    animation-range-start: cover 0%;
    animation-range-end: cover 30%;
}
.home-content p{
    font-size: 1.8rem;
    padding: 8px;
    animation: slide linear;
    animation-timeline: view();
    animation-range-start: cover 0%;
    animation-range-end: cover 30%;
}
.social-media a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    font-size: 1.9rem;
    color: var(--red);
    border: 1px solid var(--red);
    border-radius: 50%;
    margin: 3rem 1.5rem 3rem 0;
    transition: background .2s ease-in-out;
    
}
.social-media a:hover{
    background: var(--red);
    box-shadow: 0 0 1rem var(--red);
    color: var(--light);
}

/*#################*/
/*About*/
/*#################*/


.about{
   
    justify-content: center;
    align-items: center;
    gap: 2rem;
    background: var(--bg2);
    padding: 8rem;
    margin: 2rem;
}

.section-title{
    text-align: center;
    font-size: 4.5rem;
}
.about-content h2{
    text-align: left;
    line-height: 1.2;
}
.about-content h3{
    font-size: 2.6rem;
    padding-top: 3rem;
    border-bottom: 1px solid var(--red);
    animation: reveal linear;
    animation-timeline: view();
    animation-range-start: cover 0%;
    animation-range-end: contain 50%;
}
.about-content p{
    font-size: 1.8rem;
    padding: 16px;
    margin: 2rem 0 3rem;
    animation: slide linear;
    animation-timeline: view();
    animation-range-start: cover 0%;
    animation-range-end: cover 30%;
}
.Parcours h3{
    font-size: 2.6rem;
    padding-top: 3rem;
    border-bottom: 1px solid var(--red);
    animation: reveal linear;
    animation-timeline: view();
    animation-range-start: cover 0%;
    animation-range-end: contain 50%;
}
.Parcours p{
    font-size: 1.8rem;
    padding: 16px;
    margin: 2rem 0 3rem;
    animation: slide linear;
    animation-timeline: view();
    animation-range-start: cover 0%;
    animation-range-end: cover 30%;
}
.Parcours ul{
    position: relative;

}
.Parcours ul li{
    position: relative;
    list-style: none;
    margin: 10px 0;
    cursor: pointer;
}
.Parcours ul li h4{
    font-size: 1.8rem;
    padding: 16px;
    animation: slide linear;
    animation-timeline: view();
    animation-range-start: cover 0%;
    animation-range-end: cover 30%;
}
.Parcours ul li h5{
    font-size: 1.8rem;
    padding: 16px;
    animation: slide linear;
    animation-timeline: view();
    animation-range-start: cover 0%;
    animation-range-end: cover 30%;
}
.experience{
    margin-bottom: 4rem;
}
.experience h3{
    font-size: 2.6rem;
    padding-top: 3rem;
    border-bottom: 1px solid var(--red);
    animation: reveal linear;
    animation-timeline: view();
    animation-range-start: cover 0%;
    animation-range-end: contain 50%;
}
.experience p{
    font-size: 1.8rem;
    margin: 2rem 0 3rem;
    padding: 16px;
    animation: slide linear;
    animation-timeline: view();
    animation-range-start: cover 0%;
    animation-range-end: cover 30%;
}
.experience h5{
    font-size: 1.8rem;
}
.experience .list-non-ordonne{
    position: relative;
    font-size: 1.8rem;
    padding: 16px;
    animation: slide linear;
    animation-timeline: view();
    animation-range-start: cover 0%;
    animation-range-end: cover 30%;
}
.competence{
    margin-top: 4rem;
    padding: 4rem;
}
.competence-content{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    flex-wrap: wrap;
}
.competence-box{
    flex: 1130rem;
    background: var(--bg);
    padding: 2rem 2rem 2rem;
    border-radius: 2rem;
    text-align: center;
    border: .2rem solid var(--bg);
    transition: .2s ease-in-out;
}
.competence h3{
    font-size: 2.6rem;
    padding-top: 3rem;
    border-bottom: 1px solid var(--red);
    animation: reveal linear;
    animation-timeline: view();
    animation-range-start: cover 0%;
    animation-range-end: contain 50%;
}
.competence-box:hover{
    box-shadow: 0 0 1rem var(--red);
    border-color: var(--red);
    transition: scale(1.02);
}
.competence-box i{
    font-size: 4rem;
    color: var(--red);
    width: 100%;
    padding: 24px;
    height: auto;
    object-fit: cover;
    animation: reveal linear;
    animation-timeline: view();
    animation-range-start: cover 0%;
    animation-range-end: contain 50%;
}
.competence-box h3{
    font-size: 2.6rem;
    margin-top: 1.5rem;
    animation: reveal linear 1s;
}
.competence-box ul{
    margin-top: 1.5rem;
    text-align: center;
    margin: 1rem 0.3rem;
}
.competence-box ul li{
    font-size: 1.8rem;
    margin: 1rem 0;
    padding: 16px;
    animation: slide linear;
    animation-timeline: view();
    animation-range-start: cover 0%;
    animation-range-end: cover 30%;
}


.ci-lang{
    margin-top: 4rem;
    display: flex;
    gap: 4rem;
}
.ci-lang-box{
    background: var(--bg2);
    border-radius: 2rem;
    border: .2rem solid var(--red);
    transition: .2s ease-in-out;
    text-align: center;
    flex: 1 1 30rem;
    padding: 2rem 2rem 2rem;
    box-shadow: 0 0 1rem var(--red);
}
.ci-lang i{
    font-size: 4rem;
    color: var(--red);
    width: 100%;
    padding: 24px;
    height: auto;
    object-fit: cover;
    animation: reveal linear;
    animation-timeline: view();
    animation-range-start: cover 0%;
    animation-range-end: contain 50%;
}

.ci-lang h3{
    font-size: 2.6rem;
    padding-top: 3rem;
    border-bottom: 1px solid var(--red);
    animation: reveal linear;
    animation-timeline: view();
    animation-range-start: cover 0%;
    animation-range-end: contain 50%;
}
.ci-lang p{
    font-size: 1.8rem;
    margin: 2rem 0 3rem;
    padding: 16px;
    animation: slide linear;
    animation-timeline: view();
    animation-range-start: cover 0%;
    animation-range-end: cover 30%;
}
.passion-content{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    flex-wrap: wrap;
    margin-bottom: 8rem;
}
.passion p{
    font-size: 1.8rem;
    margin: 2rem 0 3rem;
    padding: 16px;
    animation: slide linear;
    animation-timeline: view();
    animation-range-start: cover 0%;
    animation-range-end: cover 30%;
}
.passion-box{
    background: var(--bg2);
    border-radius: 2rem;
    border: .2rem solid var(--bg2);
    transition: .2s ease-in-out;
    text-align: center;
    flex: 1 1 30rem;
    padding: 2rem 2rem 2rem;
    
}
.passion-box:hover{
    box-shadow: 0 0 1rem var(--red);
    border-color: var(--red);
    transition: scale(1.02);
}
.passion-box i{
    font-size: 4rem;
    color: var(--red);
    width: 100%;
    padding: 24px;
    height: auto;
    object-fit: cover;
    animation: reveal linear;
    animation-timeline: view();
    animation-range-start: cover 0%;
    animation-range-end: contain 50%;
}
.passion-box h3{
    font-size: 2.6rem;
    margin-top: 1.5rem;
    animation: reveal linear;
    animation-timeline: view();
    animation-range-start: cover 0%;
    animation-range-end: contain 50%;  
}
.passion-box p{
    font-size: 1.8rem;
    margin: 2rem 0 3rem;
    padding: 16px;
    animation: slide linear;
    animation-timeline: view();
    animation-range-start: cover 0%;
    animation-range-end: cover 30%;
}
.projects{
    text-align: center;
    margin-top: 4rem;
    align-items: center;
    justify-content: center;
    margin-top: 4rem;
}
.projects p{
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 1.8rem;
    animation: slide linear;
    animation-timeline: view();
    animation-range-start: cover 0%;
    animation-range-end: cover 30%;
}

.contact{
    text-align: center;
    margin-top: 4rem;
    align-items: center;
    justify-content: center;
}
.contact h3{
    font-size: 2.6rem;
    animation: reveal linear;
    animation-timeline: view();
    animation-range-start: cover 0%;
    animation-range-end: contain 50%;
}
.contact p{
    font-size: 1.8rem;
    margin: 2rem 0 3rem;
    padding: 16px;
    animation: slide linear;
    animation-timeline: view();
    animation-range-start: cover 0%;
    animation-range-end: cover 30%;
}
.contact h2{
    font-size: 4.5rem;
    text-align: center;
}
.contact a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 12rem;
    height: 3rem;
    font-size: 1.6rem;
    color: var(--red);
    border: 1px solid var(--red);
    border-radius: 2rem;
    margin: 3rem 1.5rem 3rem 0;
    transition: background .2s ease-in-out;
}
.contact a:hover{
    background: var(--red);
    box-shadow: 0 0 1rem var(--red);
    color: var(--light);
}
.contact-info{
    margin-top: 4rem;
    display: flex;
    gap: 4rem;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.contact-info-box{
    background: var(--bg2);
    border-radius: 2rem;
    border: .2rem solid var(--bg2);
    transition: .2s ease-in-out;
    text-align: center;
    flex: 1 1 30rem;
    padding: 2rem 2rem 2rem;
}
.contact .contact-info .contact-box i{
    font-size: 4rem;
    color: var(--red);
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 9%;
    background: var(--bg2);
}
.footer-txt p{
    font-size: 1.6rem;
    text-align: center;
}
.footer-icontop a{
    display: none;
    justify-content: center;
    align-items: center;
    padding: 0.8rem;
    background: var(--bg);
    border: 1px solid var(--red);
    border-radius: 50%;
    color: var(--red);
    font-size: 1.6rem;
    position: fixed;
    bottom: 2rem;
    left: 2rem;
    transition: background .2s ease-in-out;


}
.footer-icontop a:hover{
    background: var(--red);
    box-shadow: 0 0 1rem var(--red);
    color: var(--light);
}
.footer-icontop .btn-home .btnDiplay{
    display: inline-flex;
}

/*#################*/
/*Breakpoints*/
/*#################*/

@media screen and (max-width:1200px){

    html{
        font-size: 55%;
    }
    .about{
        flex-direction: column;
        padding: 4rem;
        margin: 2rem;
    }
}

@media screen and (max-width:991px){
    nav{
        padding: 2rem 3%;
    }
    section{
        padding: 10rem 3% 2rem;
    }
    .competences .competence-content{
        gap: 2rem;
    }
    .competences .competence-box{
        flex: 1 1 40rem;
        grid-template-columns: repeat(2.1fr);
        .contact{
            min-height: auto;
        }
        footer{
            padding: 2rem -3%;
        }
    }
}
@media screen and (max-width:768px){
    #menu-burder{
        display: block;
    }
    .navigation{
        position: fixed;
        top: 80px;
        left: -100%;
        width: 100%;
        height: calc(100vh - 80px);
        background: var(--bg);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        transition: left .2s ease-in-out;
    }
    .navigation a{
        font-size: 2.5rem;
        margin: 2rem 0;
    }
    .navigation.active{
        left: 0;
    }
}
@media screen and (max-width:450px){
    html{
        font-size: 50%;
    }
    .about{
        padding: 2rem;
        margin: 1rem;
    }
}
@media screen and (max-width:350px){
    .home-content h1{
        font-size: 4.5rem;
    }
}
@media screen and (max-width:300px){
    .home-content h1{
        font-size: 3.5rem;
    }
}
@keyframes reveal{
    from {
        transform: acale(0.9);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes slide{
    from {
        transform: translateY(100%);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}

.scroller {
    top: 0;
    left: 0;
    z-index: 1000;
    background-repeat: no-repeat;
    background: linear-gradient(to right, rgb(29, 198, 213) 100%, rgba(255, 148, 166, 0) 100%);
    background-size: 0;
    transform-origin: left;
    animation: scroll linear;
    animation-timeline: scroll();
    animation-range-start: cover 100%;
    animation-range-end: cover 100%;

}
@keyframes scroll {
    0% {
        background-size: 0% 100%;
    }
    100% {
        background-size: 100% 100%;
    }
}


